
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 16rem); /* 16rem = 256px = width of sidebar */
}

.content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari, Opera */
.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, Firefox */
.custom-scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}
